@font-face {
    font-family: 'famiar';
    src: url('@/shared/assets/fonts/famiar.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WLMIdeaRegular';
    src: url('@/shared/assets/fonts/WLMIdeaRegular.ttf') format('truetype');
    font-display: swap;
}